body {
    background-color: #222222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    scrollbar-color: #222222 #616161;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

input,
textarea,
select,
button,
.button {
    border: 1px solid #303030;
    background-color: #131313;
    padding: 0.1rem 0.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

select {
    min-height: 1.9rem;
}

header {
    flex: 0 0 auto;
    min-height: 3rem;
    background-color: #222222;
    border-bottom: 1px solid #303030;
    display: flex;
}

header > * {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

#container {
    flex: 1 1 auto;
    display: flex;
}

nav {
    flex: 1 1 12rem;
    min-width: 12rem;
    background-color: #222222;
}

#search {
    flex-basis: 20rem;
    padding: 0.5rem;
}

#search form {
    width: 100%;
    display: flex;
}

#search form input {
    flex: 1 1 auto;
}

#search form button {
    flex: 0 0 2rem;
    width: 2rem;
    background-color: #333333;
    color: #666666;
}

main {
    flex: 1 1 80%;
    overflow-x: hidden;
    background-color: #181818;
    padding: 1rem;
}

aside {
    display: none;
}

nav ul {
    margin: 0 0 0.6rem 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    padding: 0.1rem 0.5rem;
    white-space: nowrap;
    position: relative;
}

nav a i {
    width: 1.2rem;
    margin-right: 0.5rem;
    text-align: center;
}

nav > ul > li > a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.6rem 0 0.2rem 0;
}

nav a[data-no]::after {
    position: absolute;
    right: 1rem;
    text-align: right;
    content: attr(data-no);
}

nav a:hover,
nav a.active {
    background-color: #393939;
}

nav a,
header a,
h1 a,
h2 a,
h3 a,
.item a,
.product .vendor a {
    text-decoration: none;
    color: white;
}

nav a:hover,
header a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover {
    color: white;
}

h1 {
    margin-bottom: 1rem;
}

pre,
.br,
.description {
    white-space: pre-wrap;
    word-break: break-word;
}

pre {
    font-size: 120%;
}

#logo a {
    font-size: 1.8rem;
    padding: 0 0.5rem 0 0.5rem;
    white-space: nowrap;
}

#logo span {
    font-variant: small-caps;
}

#headerLinks {
    justify-content: flex-end;
    margin-right: 20px;
}

#headerLinks > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    white-space: nowrap;
}

.table {
    border-spacing: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.btns {
    margin: 1rem 0;
}

.btns > *,
.button {
    display: inline-block;
}

.table th {
    background: black;
}

.table th,
.table td {
    border: 1px solid #606060;
    padding: 0.5rem;
    color: white;
}
.table tbody tr td img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/* ITEMS */
.items {
    display: flex;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
}
.item {
    background: #303030;
    border: 1px solid #606060;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item img,
.item .no-thumbnail {
    width: 100%;
    height: 200px;
    display: block;
}
.item h3 {
    margin: 0.5rem;
    font-size: 120%;
    flex: 1 1 max-content;
}
.item h3 a {
    display: block;
}
.item .price select {
    background: transparent;
    appearance: listbox;
    padding: 0;
    width: 100%;
    cursor: pointer;
}
.item .actions {
    display: flex;
    gap: 1px;
}
.item .actions > * {
    flex: 1 1 50%;
    padding: 0.5rem;
    border: 0;
    white-space: nowrap;
}
.item .vendor,
.item .stars {
    margin: 0.5rem;
}
.item .price {
    margin: 0.5rem;
    font-size: 130%;
}
.item-icons,
.item-hands {
    line-height: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.item-hands {
    margin: 0.5rem 0 0.25rem;
}

.item .item-header .icon-featured {
    font-size: 1.2rem;
    color: gold;
    cursor: help;
}

.item .item-header .icon-trusted {
    font-size: 1.2rem;
    color: lime;
    cursor: help;
}

.item .item-hands .fa-thumbs-up,
.lime,
.many {
    color: lime;
}

.so {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.gold {
    color: gold;
}

.fancy {
    padding: 0.5rem 1rem;
    background-color: #f8eb2b;
    border-radius: 4px;
    border: 0;
    color: #000000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.fancy:hover {
    background-color: #f89f2b;
    color: #000000;
}
a.fancy {
    display: inline-block;
}

.item .item-hands .fa-thumbs-down,
.red,
.low {
    color: red;
}

.item-hands button,
.item-actions button {
    margin: 0 0 0 0.5rem;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.item-hands button.voted {
    pointer-events: none;
}

.item .no-thumbnail {
    display: flex;
    font-size: 400%;
    background-color: #393939;
    color: #a9a9a9;
    pointer-events: none;
    justify-content: center;
    align-items: center;
}

.item .no-thumbnail i {
    margin: auto;
}

.item-footer {
    opacity: 0.5;
}

.item-actions,
.item-footer,
.flex,
.flexs {
    display: flex;
}

.flex,
.flexs {
    flex-wrap: wrap;
    gap: 0 1rem;
}

.flexs {
    justify-content: space-between;
    align-items: start;
}

.item-actions {
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.item-visits {
    flex: 0 1 auto;
    pointer-events: none;
    display: none;
}

.red {
    color: red;
}

.item .item-actions > a,
.item .item-actions > button {
    margin-right: 0.5rem;
    margin-left: 0;
}

.item-header h3,
.item-hands {
    flex: 0 1 auto;
}

.item-icons {
    flex: 1 1 auto;
}

.item-icons > *,
.item-hands > * {
    margin-left: 0.5rem;
}

.item.disabled {
    opacity: 0.5;
}

.item-url {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1,
.qrcode {
    margin-bottom: 1rem !important;
}

.form-actions {
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.form-actions > * {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.form-row {
    margin-bottom: 0.5rem;
}

.form-row label {
    margin-bottom: 0.25rem;
}

.form-row input:not([type="checkbox"]):not([type="radio"]),
.form-row textarea,
.form-row select {
    width: 100%;
}

.vericode {
    display: block;
    margin-top: 0.5rem;
}

.submit-btn {
    margin-top: 0.5rem;
}

.form-errors {
    border: 1px solid red;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-rules {
    margin: 1rem;
    color: red;
}

.form-error {
    color: red;
    font-size: 90%;
}

.input-info {
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem 0;
}

.gray {
    color: gray;
}

.pagination {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination > * {
    padding: 0.25rem 0.25rem;
    background-color: #222222;
    border: 1px solid #303030;
    border-radius: 0.5rem;
    color: white;
    margin: 0.25rem;
    text-align: center;
    min-width: 2rem;
}

.pagination > span {
    border: 1px solid lime;
    font-weight: bold;
}

.pagination > a {
    text-decoration: none;
    color: white;
}

.footnote {
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid white;
}

.checkout-items {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.checkout-items > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.25rem 0;
    margin: 0.5rem 0;
    border-bottom: 1px solid white;
}

label#bars {
    display: none;
}

@media (max-width: 767px) {
    #container > nav {
        max-width: 2.1rem;
        overflow: hidden;
    }

    #logo a {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .item {
        display: block;
    }

    header {
        flex-wrap: wrap;
        position: sticky;
        top: 0;
    }

    label#bars {
        cursor: pointer;
        padding: 0 1rem;
        flex: 0 1 auto;
        display: flex;
        order: 3;
    }

    #search {
        order: 3;
        display: none;
    }

    #headerLinks {
        order: 2;
    }

    #container {
        flex-direction: column;
        min-width: auto;
        max-width: 100vw;
        top: 3rem;
    }

    #container > nav {
        max-width: 100vw;
        overflow: visible;
        display: none;
    }

    #menuSwitch:checked ~ nav {
        display: block;
        position: fixed;
        top: 3rem;
        right: 0;
        z-index: 100;
        left: 0;
        bottom: 0;
        overflow: auto;
    }

    #container > nav > ul > li > ul {
        display: flex;
        flex-wrap: wrap;
    }

    #container > nav > ul > li > ul > li {
        flex: 1 1 0;
    }

    nav a[data-no]::after {
        position: static;
        content: " (" attr(data-no) ")";
    }

    .jumbo {
        font-size: 90%;
    }
    .jumbo .btn-big {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    #logo a {
        position: relative;
        top: -2px;
    }
}
.path {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}
.path a {
    color: white;
    text-decoration: none;
}
.path i {
    padding-right: 0.25rem;
}

/* PRODUCT PAGE */
.product {
    display: flex;
    gap: 3%;
}
.product-photos {
    order: 1;
}
.photo-big img {
    max-width: 300px;
    padding: 0.5rem 0;
}
.photo-thumbs {
    display: flex;
}
.photo-thumbs img {
    max-width: 100px;
}
.product-details {
    order: 2;
}
.product .vendor {
    margin-bottom: 0.5rem;
}
.product .price {
    font-size: 150%;
}
.product .btc {
    margin-left: 1rem;
}
.product .instock,
.product .actions {
    margin: 0.5rem 0;
}
.product .actions {
    margin: 1rem 0;
}
.old {
    color: gray;
    position: relative;
    text-decoration: none;
}
.old::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid red;
    -webkit-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    transform: skewY(10deg);
}

/* Colors */
.green {
    color: lime;
}

/* Flex grid */
.flex-grid,
.cards {
    display: flex;
    margin: 0 -0.5rem;
    flex-wrap: wrap;
}
.flex-grid > * {
    margin: 0.5rem;
}
.cards {
    margin: -0.5rem;
}
.cards.wide > * {
    flex: 1 1 20rem;
}
.cards > * {
    flex: 1 1 12rem;
    margin: 0.5rem;
}
.card,
.jumbo {
    background: #303030; /*#222222;*/
    border: 1px solid #606060; /*#303030;*/
    padding: 1rem;
}
.card > h3,
.card > h4 {
    background: black;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.4rem 0.5rem 0.5rem 1rem;
    font-size: 1.2rem;
}
dl.compact {
    display: grid;
    grid-template-columns: min-content auto; /* max-content */
    gap: 0 1rem;
}
dl.compact > dt {
    justify-self: end;
    text-align: right;
}
dl.compact.ships > dt {
    justify-self: start;
    text-align: left;
    white-space: nowrap;
}
dl.compact > dd {
    white-space: pre-wrap;
}
.order-address {
    margin-bottom: 0;
}
.order-address dt {
    min-width: 3rem;
}

/* Margins and paddings */
.mt05 {
    margin-top: 0.5rem;
}
.mb1 {
    margin-bottom: 1rem;
}
.p2 {
    padding: 2rem !important;
}
.center {
    text-align: center;
}
.big {
    font-size: 2rem;
}

/* Colors */
.light {
    background: #303030;
}
.delproduct-panel {
    display: none;
    padding: 25px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 15px;
    width: 450px;
    height: 230px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
}
.toggle-delproduct:checked ~ .delproduct-panel {
    display: block;
}
.loader-dot::before {
    background-color: white !important;
}
.moreprice {
    display: none;
}
#more:checked ~ .morelabel {
    display: none;
}
#more:checked ~ .moreprice {
    display: block;
}
.lesslabel {
    display: none;
}
#more:checked ~ .lesslabel {
    display: block;
}
.morelabel,
.lesslabel {
    cursor: pointer;
}
.dropbtn {
    background-color: #333;
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #222;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
